<!DOCTYPE html>
<html>
  <head>Это head============
<h2>2024 April 10  ~/Documents/2024/github1 -b отремонтируем
  
 в aplication.html.erb</h2> &nbsp &nbsp &nbsp  head закрыт /head

 


    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>


  <body>
=============================================<p>
====начало body
<!--  <li><a href="#">Отремонтируем быстро</a></li>
            <li><a href="#">Отремонтируем быстро</a></li> -->

<div id="header">
  <ul id=top_menu>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Услуги</a>
 		
      <ul class="inner_menu">
	<li><a href="#">Отремонтируем</a>
              <ul class="inner_submenu">
		    <li><a href="#">Отремонтируем быстро</a></li>
		    <li><a href="#">Отремонтируем качественно</a></li>
              </ul>






		<li><a href="#">Починим</a></li>
		 <li><a href="#">Наладим</a></li>
       	</ul>
   
    <li><a href="#">Товары</a>
      <ul class="inner_menu">
        <li><a href="#">Медиацентры</a></li>
        <li><a href="#">Музыкальные центры</a></li>
        <li><a href="#">Кассетные магнитофоны</a></li>
        <li><a href="#">Бабинные магнитофоны</a></li>
        <li><a href="#">Граммофоны</a></li>
      </ul>
    </li>
    <li><a href="#">Популярные вопросы</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</div>







 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

     

		   <!--  <nav>
		  <ul class="nav pull-right">  
		      <li><%= link_to "Home",    '#' %></li>
		      <li><%= link_to "Help",    '#' %></li>
		      <li><%= link_to "Sign in", '#' %></li>
		    </ul>  
		  </nav>
		</div>
	      </div>-->
 </body>
</html>
